.header {
  background-image: url("photos/bg.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 30%;
  padding-top: 12%; }
  @media screen and (max-width: 992px) {
    .header {
      padding-top: 5%; } }
  @media screen and (max-width: 768px) {
    .header {
      padding-top: 0%; } }
  .header__title {
    font-size: 30px; }
    @media screen and (max-width: 768px) {
      .header__title {
        font-size: 20px; } }
    @media screen and (max-width: 450px) {
      .header__title {
        font-size: 16px; } }
  .header__description {
    font-size: 26px;
    line-height: 60px; }
    @media screen and (max-width: 768px) {
      .header__description {
        line-height: 40px;
        font-size: 20px; } }
    @media screen and (max-width: 450px) {
      .header__description {
        font-size: 14px;
        line-height: 30px; } }
  .header__button {
    width: 30%;
    margin: auto;
    font-size: 20px;
    margin-top: 20px; }
    @media screen and (max-width: 450px) {
      .header__button {
        width: 30%;
        font-size: 12px;
        height: 45px;
        padding: 0;
        margin: 0; } }

.why-us-item {
  margin-bottom: 22%;
  font-size: 20px;
  width: 88%;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  text-align: center; }
  @media screen and (max-width: 992px) {
    .why-us-item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-bottom: 20%; } }
  .why-us-item__image {
    width: 55%;
    height: 400px; }
    @media screen and (max-width: 768px) {
      .why-us-item__image {
        width: 60%;
        height: 330px; } }
    @media screen and (max-width: 450px) {
      .why-us-item__image {
        width: 80%;
        height: 170px; } }
  .why-us-item__image img {
    width: 100%;
    height: auto; }
  .why-us-item__imageStars {
    width: 65%;
    height: 400px; }
    @media screen and (max-width: 768px) {
      .why-us-item__imageStars {
        width: 70%;
        height: 300px; } }
    @media screen and (max-width: 450px) {
      .why-us-item__imageStars {
        width: 80%;
        height: 170px; } }
  .why-us-item__imageStars img {
    width: 100%;
    height: auto; }
  .why-us-item__text {
    width: 40%;
    padding-top: 10%; }
    @media screen and (max-width: 992px) {
      .why-us-item__text {
        width: 100%;
        padding-top: 0%; } }

.left-image {
  margin-right: 6%; }
  @media screen and (max-width: 992px) {
    .left-image {
      margin-right: auto;
      margin-left: auto; } }
  @media screen and (max-width: 450px) {
    .left-image {
      margin-bottom: 20%; } }

.right-image {
  padding-left: 7%;
  border: none; }
  @media screen and (max-width: 992px) {
    .right-image {
      margin-right: auto;
      margin-left: auto; } }
  @media screen and (max-width: 450px) {
    .right-image {
      margin-bottom: 20%; } }

.right-image img {
  border-radius: 40px; }

.why-us__title {
  font-size: 30px;
  margin-bottom: 180px; }
  @media screen and (max-width: 992px) {
    .why-us__title {
      margin-bottom: 70px; } }

@media screen and (max-width: 992px) {
  .reverse-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; } }

.services {
  background-color: #65909e;
  padding-top: 6%;
  padding-bottom: 10%; }
  .services__title {
    padding-bottom: 8%; }

.service-item {
  background-color: white;
  border: none;
  border-radius: 20px;
  width: 30%;
  font-size: 20px;
  padding: 80px; }
  @media screen and (max-width: 992px) {
    .service-item {
      width: 70%;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 20%;
      padding: 40px; } }
  @media screen and (max-width: 450px) {
    .service-item {
      padding: 10px; } }
  .service-item__line {
    width: 30%;
    height: 3px;
    margin: auto;
    background-color: #424a5d; }
  .service-item__title {
    padding-bottom: 20%; }

.service-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row, wrap;
  flex-flow: row, wrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly; }
  @media screen and (max-width: 992px) {
    .service-items {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.slider {
  margin-top: 10%;
  margin-bottom: 80px; }
  .slider__title {
    margin-bottom: 10%; }

.slider-for__item {
  width: auto;
  height: 800px; }
  @media screen and (max-width: 992px) {
    .slider-for__item {
      height: 400px; } }
  @media screen and (max-width: 450px) {
    .slider-for__item {
      height: 300px; } }

.slider-for__item img {
  width: 100%;
  height: auto; }

.slider-nav__item {
  height: 200px;
  width: 30%;
  margin-right: 30px; }
  @media screen and (max-width: 992px) {
    .slider-nav__item {
      height: 150px;
      width: 35%; } }
  @media screen and (max-width: 450px) {
    .slider-nav__item {
      height: 50px;
      margin-right: 20px; } }

.slider-nav__item img {
  height: auto;
  width: 100%; }

.contact {
  background-image: url("photos/contact.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 30%;
  color: #213140; }
  .contact__items {
    margin-bottom: 10%;
    margin-top: 10%;
    width: 50%;
    margin-left: auto;
    margin-right: auto; }
    @media screen and (max-width: 450px) {
      .contact__items {
        width: 100%; } }
  .contact__icon {
    height: 40px;
    width: 40px;
    margin-right: 20px; }
    @media screen and (max-width: 768px) {
      .contact__icon {
        height: 20px;
        width: 20px;
        margin-right: 10px; } }
  @media screen and (max-width: 768px) {
    .contact__email {
      font-size: 10px; } }
  .contact__social {
    width: 40%;
    margin-left: auto;
    margin-right: auto; }
    @media screen and (max-width: 450px) {
      .contact__social {
        width: 80%; } }

.contact-info {
  padding-top: 10%; }
  @media screen and (max-width: 768px) {
    .contact-info {
      width: 45%;
      text-align: center; } }
  @media screen and (max-width: 450px) {
    .contact-info {
      margin-top: -30px;
      padding-top: 0%; } }
